* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    padding: 25px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.9);
    margin-top: 100px;
}
.student-table {
    width: 100%;
    margin-top: 12px;
    border-collapse: collapse;
}
.student-table, tr, td, th {
    border: 1px solid gainsboro;
}
.student-table th {
    color: white;
    padding: 10px;
    background-color: black;
}
.student-table td, tr {
    padding: 10px;
    text-align: center;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}